{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../../static/bot/css/dummy.css">
<script src="../../static/bot/js/dummy.js"></script>
<body>

<!-- <h1><span id="message">Yellow</span>bird</h1> -->


<div class="container">


  <!-- <ul class="nav nav-pills">
    <li><a target='_blank' href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.co.uk/%3Fgws_rd%3Dssl" class="colorfix"><button class="btn" role="button">Sign in</button></a></li>
    <li>
      <a target='_blank' title="Google apps" class="firstsbuttons" href="https://www.google.co.uk/intl/en/options/"><img class="quad" src="http://www.englewoodschools.net/cms/lib8/CO01900647/Centricity/Domain/1009/GoogleAppsIcon.png" height="22" width="22"></a>
    </li>
    <li><a target='_blank' class="firstsbuttons" href="https://www.google.co.uk/imghp?hl=en&tab=wi&ei=7sfqVtCHG6TgyQOjo7d4&ved=0EKouCBUoAQ">Images</a></li>
    <li><a target='_blank' class="firstsbuttons" href="https://mail.google.com/mail/?tab=wm">Gmail</a></li>
  </ul>
 -->

  <form action="result" method="POST">
    {% csrf_token %}

    <div class="page">
      <img class="logo" src="../../static/bot/logo.PNG">
      <div class="container-fluid">
      <br><input type="text" id="chat" name="chat" placeholder="Enter query here..." ="" align="center"><br>
      <div class="Bcontainer">
        <div class="button left"> <input type="submit"></div>
        <!-- <li><a target='_blank' class="colorfix"><button class="btn" type="submit" role="button">Submit</button></a></li> -->
      </div>
    </div>
    </div>
    <!-- <input type="submit" value="Submit"> -->

  </form>








<!--
  <form action="result">

    <div class="group">
      <input type="text" id="concept" name="concept" value="concept" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>concept</label>
    </div>

    <div class="group">
      <input type="text" id="location_x" name="location_x" value="location_x" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>location</label>
    </div>

    <div class="group">
      <input type="text" id="location_y" name="location_y" value="location_y" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>location</label>
    </div>

      <input type="submit" id="submit" value="Submit">

  </form>-->
</div>
<!--<img src="{% static "bot/pic_mountain.jpg" %}" alt="Mountain View" style="width:304px;height:228px;">-->
</body>
