{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../../static/bot/css/dummy.css">
<script src="../../static/bot/js/dummy.js"></script>
<body>

<h1><span id="message">Yellow</span>bird</h1>


<div class="container">


  <form action="result">

    <div class="group">
      <input type="text" id="concept" name="concept" value="concept" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>concept</label>
    </div>

    <div class="group">
      <input type="text" id="location" name="location" value="location" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>location</label>
    </div>

      <input type="submit" id="submit" value="Submit">

  </form>

</div>
<!--<img src="{% static "bot/pic_mountain.jpg" %}" alt="Mountain View" style="width:304px;height:228px;">-->
</body>